# Node
node_modules/

# Arquivos sensíveis
.env

# Sistema operacional
.DS_Store
Thumbs.db

# Banco de dados
empresas.db

# arquivo csv
cnpjs.csv

# Executáveis
*.exe

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
*.tmp
